<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <br><br>
        <div class="input-group pb-modalreglog-input-group">
                <button class="btn btn-primary pb-modalreglog-submit" data-toggle="modal" data-target="#myModal2">Register</button>
        </div><br>
        </div>
        <div class="col-md-11" style="text-align: center;">
            <br>
            <h1> Contactos </h1>
        </div>
        </div>
    </div>
    <!-- contacts card -->
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
                <form action="/filtro" method="post">
                    Buscar
                    <input type="text" name="filtro">
                    <input type="submit" value="Buscar">
                </form>
                <% lista.forEach(function(item){%>
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://s3.us-east-2.amazonaws.com/jabappdemo/<%=item.perfil%>" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid" style="width:140px;height: 140px;">
                        </div>
                        <div class="col-12 col-sm-6 col-md-7 text-center text-sm-left">
                            <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="name lead"><%=item.nombre%></label>
                            <br> 
                            <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="<%=item.apellido%>"></span>
                            <span class="text-muted"><%=item.apellido%></span>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="<%=item.date%>"></span>
                            <span class="text-muted small"><%=item.date%></span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title="<%=item.email%>"></span>
                            <span class="text-muted small text-truncate"><%=item.email%></span>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2">
                            
                            <a class="button-dangers" href="/delete/<%=item._id%>"> Eliminar </a>

                        </div>
                    </div>
                </li>
                <% });%>
            </ul>
            <!--/contacts list-->
        </div>
    </div>
</div>

<!--Modal: Login with Avatar Form-->
<div class="container pb-modalreglog-container">
    <div class="row">
        <div class="col-xs-5 col-md-12 col-md-offset-6">
            <div class="modal fade" id="myModal2" tabindex="6" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content" style="width: 350px;">
                        <div class="modal-header">
                            
                            <h4 class="modal-title" id="myModalLabel">Registration form</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form enctype="multipart/form-data" action="/cargar" method="post" id="uploadForm">
    <div class="form-group">
        <label for="nombreInput">Nombres</label>
        <input type="text" class="form-control" id="nombreInput" name="nombre" placeholder="Ingrese el Nombre" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Apellidos</label>
        <input type="text" class="form-control" id="apellidoInput" name="apellido" placeholder="Ingrese el Apellido">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">F. Nacimiento</label>
        <input type="date" class="form-control" id="fechaInput" name="date">
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-7">  
                <label for="file">Subir Perfil</label>
                <input type="file" name="file" id="file" class="form-control-file" />
            </div>
            <div class="col-md-5" style="display:none;" id="cont">
                <img src="" id="img" class="rounded" width="90" height="60"   >
            </div>
        </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Submit" name="submit">
  
    </form>
    <script type="text/javascript">
    function filePreview(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#uploadForm + img').remove();
            $("#img").attr("src",e.target.result);
            $("#cont").css("display", "block");
        }
        reader.readAsDataURL(input.files[0]);
    }
    }

    $("#file").change(function () {
    filePreview(this);
});
    </script>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pb-modalreglog-container
    {
        margin-top: 100px;
    }

    .pb-modalreglog-legend
    {
        text-align: center;
    }

    .pb-modalreglog-input-group
    {
        margin: auto;
    }

    .pb-modalreglog-submit
    {
        margin-left: 5px;
    }

    .pb-modalreglog-form-reg
    {
        text-align: center;
    }

    .pb-modalreglog-footer p
    {
        text-align: center;
        margin-top: 20px;
    }

    #pb-modalreglog-progressbar
    {
        border-radius: 2px;
    }
</style>

<script>
    $(function () {
        var progress = $("#pb-modalreglog-progressbar").shieldProgressBar({
            value: 0
        }).swidget();

        $('#inputEmail').change(function () {
            if ($('#inputEmail').val().length > 1) {
                progress.value(progress.value() + 15);
            } else {
                progress.value(progress.value() - 15);
            }
        });

        $('#inputPws').change(function () {
            if ($('#inputPws').val().length > 1) {
                progress.value(progress.value() + 15);
            } else {
                progress.value(progress.value() - 15);
            }
        });

        $('#inputConfirmPws').change(function () {
            if ($('#inputConfirmPws').val().length > 1) {
                progress.value(progress.value() + 15);
            } else {
                progress.value(progress.value() - 15);
            }
        });

        $('#countries').change(function () {
            if ($('#countries').val().length > 1) {
                progress.value(progress.value() + 15);
            } else {
                progress.value(progress.value() - 15);
            }
        });

        $('#age').change(function () {
            if ($('#age').val().length > 1) {
                progress.value(progress.value() + 15);
            } else {
                progress.value(progress.value() - 15);
            }
        });

        $('#ch').change(function () {
            if ($('input[name="chs"]:checked').length > 0) {
                progress.value(progress.value() + 25);
            } else {
                progress.value(progress.value() - 25);
            }
        });

        $("#age").shieldMaskedTextBox({
            enabled: true,
            mask: "00/00/0000",
            value: "19/03/1032"
        });
    })
</script>